<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<p>
    <a href="/signup">Register</a> |
    <a href="/login">Login</a> |
    <form id="logout-form" action="/logout" method="POST">
        <button>Logout</button>
    </form>
</p>